<div class="hero-unit"></div>

<div class="container">
  <div class="row">

    <div class="span3">
      <ul class="nav nav-list affix-top">
        <li>
          <a href="#widget">Widget</a>
        </li>
        <li>
          <a href="#view">View</a>
        </li>
        <li>
          <a href="#model">Model</a>
        </li>
        <li>
          <a hred="#style">Style</a>
        </li>
        <li>
          <a href="#fragment">Fragment</a>
        </li>
        <li>
          <a href="#kofactory">ko.factory</a>
        </li>
      </ul>
    </div>


    <div class="span9">
    Widget: base component that integrates with jQuery plugin ecosystem and synchronize operations such as loading dynamic html fragments, data models, and style sheets.

    View: construct that refines the widget component to automatically load html fragments and style sheets when instantiated.

    Model: derived from widget to provides a transparent system for dynamic loading of data from a url or a locally.

    Style: derived from widget to provide a transparent system for loading style sheets dynamically from a url or locally.

    Fragment: derived from widget to provide a transparent system for loading html fragments dynamically from a url or locally.

    ko.factory: provides a simple interface to create KnockouJs observables.  It is designed for simplicity, efficiency, and speed.
    </div>

  </div>
</div>