.components .nav-list {
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 0px;
  border: 1px solid black;
}

.components .nav a {
  color: #454545;
  text-shadow: none;
}

.components .nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  color: #696969;
  border-right: 2px solid brown;
}

.components .affix-top {
  width: inherit;
}

.components .affix {
  top: 40px;
  width: inherit;
}

.components section {
  padding-top: 30px;
}

.components > .hero-unit {
  background: none brown;
  color: white;
  border-radius: 0px;
}


.components [class*='code'] textarea {
  display: none;
}

.components [class*='code'] .title {
  color: #696969;
  border: 1px solid #c7c7c7;
  border-radius: 4px 4px 0px 0px;
  height: 32px;
  overflow: visible;
  padding: 4px;
  margin: 0px;
  margin-left: 2px;
}

.components [class*='code'] pre {
  font-size: 1em;
  margin: 0px;
  padding: 0px;
  padding-top: 20px;
  padding-left: 15px;
  border: 0px;
  border-left: 2px solid #ddd;
  border-radius: 0px;
  background: #272822;
  color: #F8F8F2;
}

