<div class="homeheaderContainer"></div>

<div class="container">
  <p class="lead">
    To the end user, a Web Application is primarily the means to access information in some shape or form.
    <br>
    To the developer however, a Web Application can be an extremly hostile environment with creative ways to make JavaScript, HTML, and CSS unmanageable.  <i>Let MortarJs help you.</i>
  </p>

  <div class="row goals">
    <div class="span4">
      <h4>Simplicity</h4> with automatic loading css, html fragments, and KnockoutJs integration.
    </div>
    <div class="span4">
      <h4>Maintainability</h4> by leveraging modules to encapsulate functionality and data.
    </div>
    <div class="span4">
      <h4>Flexibility and reusability</h4> by exploiting jQuery's plugin ecosystem.
    </div>
  </div>
  <div class="row goals">
    <div class="span4">
      <h4>Good coding practices and easy to adopt</h4> by leveraging well established toolkits and frameworks such as RequireJs, jQuery, KnockoutJs, Twitter Bootstrap.
    </div>
    <div class="span4">
      <h4>Open to everyone</h4> with MIT license.  Please contribute!
    </div>
  </div>
</div>
