@import url("lib/bootstrap/css/bootstrap.min.css");
@import url("lib/CodeMirror/lib/codemirror.css");
@import url("lib/CodeMirror/theme/monokai.css");
@import url("lib/CodeMirror/theme/eclipse.css");
@import url("lib/CodeMirror/theme/visual-studio.css");


.main {
  padding-top: 40px; /* 60px to make the container go all the way to the bottom of the topbar */
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.main * {
  box-sizing: border-box;
}

.main .premise {
}

.main .goals {
  margin-bottom: 20px;
}

.main .copyright {
  font-size: 12px;
  text-align: center;
}

.main h1,
.main h2,
.main h3,
.main h4 {
  font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
}

