<div class="hero-unit">
  <h1>
  Components
  </h1>
</div>

<div class="container" data-spy="scroll" data-target=".navbar-components">
  <div class="row">

    <div class="span3" class="navbar-components">
      <ul class="nav nav-list affix-top">
<!--
        <li>
          <a href="#components/widget">Widget</a>
        </li>
-->
        <li>
          <a href="#components/view">View</a>
        </li>
        <li>
          <a href="#components/model">Model</a>
        </li>
        <li>
          <a href="#components/style">Style</a>
        </li>
        <li>
          <a href="#components/template">Template</a>
        </li>
        <li>
          <a href="#components/kofactory">ko.factory</a>
        </li>
      </ul>
    </div>


    <div class="span9" data-offset="0">
<!--
      <section id="components/widget" mjs-template="components/tmpl/widget.html"></section>
-->
      <section id="components/view" mjs-fragment="components/tmpl/view.html"></section>
      <section id="components/model" mjs-fragment="components/tmpl/model.html"></section>
      <section id="components/style" mjs-fragment="components/tmpl/style.html"></section>
      <section id="components/template" mjs-fragment="components/tmpl/template.html"></section>
      <section id="components/kofactory" mjs-fragment="components/tmpl/ko.factory.html"></section>
    </div>

  </div>
</div>
