@import url("../lib/bootstrap/css/bootstrap.min.css");


.main {
  padding-top: 40px; /* 60px to make the container go all the way to the bottom of the topbar */
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.main * {
  box-sizing: border-box;
}

.main .premise {
}

.main .goals {
  margin-bottom: 20px;
}


.main .hero-unit {
  padding: 30px 60px;
}

.main .hero-unit > .actions {
  margin-top: 40px;
  font-size: 14px;
}

.main .hero-unit > h1,
.main .hero-unit > h2,
.main .hero-unit > h3,
.main .hero-unit > h4 {
  font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
}
