.homeheader {
  padding: 30px 60px;
  background-color: brown;
  color: #ffffff;
  border-radius: 0px;
}

.homeheader > .actions {
  margin-top: 40px;
  font-size: 14px;
  color: #ffffff;
  opacity: .8;
}

.homeheader > .actions a {
  color: #ffffff;
}

.homeheader > .actions .btn-primary {
  color: #000000;
}

.homeheader > h1,
.homeheader > h2,
.homeheader > h3,
.homeheader > h4 {
  text-shadow: 2px 2px 2px rgba(98, 98, 98, 1);
}
