@import url("lib/bootstrap/css/bootstrap.min.css");
@import url("lib/CodeMirror/lib/codemirror.css");
@import url("lib/CodeMirror/theme/monokai.css");
@import url("lib/CodeMirror/theme/eclipse.css");
@import url("lib/CodeMirror/theme/visual-studio.css");


.app {
  padding-top: 40px; /* 60px to make the container go all the way to the bottom of the topbar */
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.app * {
  box-sizing: border-box;
}

.app .premise {
}

.app .goals {
  margin-bottom: 20px;
}

.app .copyright {
  font-size: 12px;
  text-align: center;
}

.app h1,
.app h2,
.app h3,
.app h4 {
  font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
}



.float-left {
  float: left;
}

.float-right {
  float: right;
}


/** Extracted from http://nicolasgallagher.com/micro-clearfix-hack/ */

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clear-fix:before,
.clear-fix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clear-fix:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clear-fix {
    *zoom: 1;
}
